<configuration>
  <configSections>
    <section name="ScreenConnect.ApplicationSettings" type="System.Configuration.ClientSettingsSection" />
  </configSections>
  <ScreenConnect.ApplicationSettings>
    <setting name="ShowFeedbackSurveyForm" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="SupportHideWallpaperOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="AccessHideWallpaperOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="HideWallpaperOnConnect" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="SupportShowBalloonOnHide" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="AccessShowBalloonOnHide" serializeAs="String">
      <value>false</value>
    </setting>
    <setting name="AutoConsentIfUserProcessNotRunning" serializeAs="String">
      <value>true</value>
    </setting>
    <setting name="AutoConsentToBackstage" serializeAs="String">
      <value>true</value>
    </setting>
    <setting name="EphemeralUserDisableDayCount" serializeAs="String">
      <value>700000000</value>
    </setting>
  </ScreenConnect.ApplicationSettings>
  <ScreenConnect.UserInterfaceSettings>
    <setting name="ShowFeedbackSurveyForm" serializeAs="String">
      <value>false</value>
    </setting>
  </ScreenConnect.UserInterfaceSettings>
</configuration>