<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ScreenConnect.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <ScreenConnect.ApplicationSettings>
        <setting name="ClientLaunchParametersConstraint" serializeAs="String">
            <value>?h=151.242.63.80&amp;p=8041&amp;k=BgIAAACkAABSU0ExAAgAAAEAAQBxZ6RfC7wZDY1VQ9RbGPHnjRQ0p%2fkGB1XPjxr%2bYJahlFJXBRYGcqxCxLWS%2fCqdnt%2bmNcH7%2fzFwtrVuuVH4aP0WWwvQBiqaBRbmWtgg06otG5uwRsGbkcdmuRnYBPXmmSeW%2f47VRCDqZFOBHuGwTNk5retCDuF3MZpOjtKceX4sOxV2J%2fGr7wd0sLsyhrzLSrtdMyP0XYdirVeqAritSqgHhI33qT9FgTLJHfInJuj8MaFTA%2f2ncqSTyphD1U7O0Tf4DkrEucp6alBpfmIHv74EPVb1rI04m2DDqI6UZ0j%2bhDC6lRPD83DMx%2ffnY7Lwyp09aope7c9jbosmuxC08Km9</value>
        </setting>
    </ScreenConnect.ApplicationSettings>
</configuration>